 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
 :root {
    --primary-bg-color: #2b3e50;  /* Dark Blue */
    --secondary-bg-color: #34495e;  /* Slightly Lighter Blue */
    --text-color: #ffffff;  /* White */
    --button-color: orangered;  /* Red */
    --button-hover-color: #ef695a;  /* Darker Red */
  }
 *{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    color: white;
    box-sizing: border-box;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
/* NAV SECTION */
nav{
    width: 100%;
    height: 10vh;
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: outset 1px #8CABFF;
    position: fixed;
    z-index: 2;
}
nav ul,li,a{
    text-decoration: none;
    list-style: none;
    color: #E5E7EB;
    font-size: 25px;
}
nav .nav-logo{
    font-size: 35px;
}
nav ul li{
    display: inline-block;
    padding: 0px 50px;
}
nav ul li a:hover{
    color: var(--button-color);
    border-radius: 10px;
    text-decoration: underline;
    transition: all .3s ease 0s;
}
nav .nav-logo img{
    width: 80px;
    height: 40px;
}
/* ABOUT SECTION */
.about-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust as needed */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 50vh;
    width: 70%;
    background-color: #1F293779;
    border-radius: 40px;
    text-align: center;
    color: var(--text-color);
    padding: 20px;

}

.context {
  padding: 20px;
  width: 60%;
}

.context p {
  margin: 10px 0;
}
.context .p1{
    font-size: 2.8rem;
    font-weight: 700;
}
.context .p2{
    font-size: 1.5rem;
}
.photo{
    width: 40%;
}
.photo img {
  width: 300px; /* Adjust the size as needed */
  height: auto;
}

button {
    margin-top: 40px;
    padding: 10px 20px;
    background-color: var(--button-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.4rem;
}
button:hover{
    cursor: pointer;
    background-color: var(--button-hover-color);
}
/* Featured Section */
.featured-section {
    position: relative;
    width: 100%;
    height: 140vh;
    display: flex;
    flex-direction: column;
  }

.ft-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
  
.ft-background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.featured-section .games{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.featured-section .games h1{
    font-size: 3.6rem;
    text-shadow: 5px 5px rgb(184, 115, 115);
}
.featured-section .games .roblox{
    width: 70%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.lists {
    width: 15%; /* Adjust the size as needed */
    height: 25vh; /* Adjust the size as needed */
    box-shadow: 0 20px 30px black;
    transition: 0.3s;
    background-color: #1F2937;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease-in-out; /* Add transition for hover effect */
  }
  
.lists img {
    border-radius: 20px 20px 0px 0px;
    max-width: 100%;
    height: 20vh;
    transition: transform 0.3s ease-in-out; /* Add transition for hover effect */
}
.lists h2{
  color: var(--button-color);
}
.lists:hover {
    transform: scale(1.1); /* Enlarge on hover */
    box-shadow: 0 0 30px rgb(2, 173, 164);
    cursor: pointer;
}
.featured-section .quote{
  width: 100%;
  height: 35vh;
  background-color: #1F293777;
  display: flex;
  flex-direction: column;
}
.quote p{
  text-align: center;
  margin-top: 15vh;
  font-size: 3rem;
}
.quote h3{
  margin-left: 80%;
  font-size: 1.8rem;
}
/* CONTACT SECTION */
.contact-section {
    background-color: var(--primary-bg-color);
    padding: 80px 0;
    text-align: center;
}
.contact-section .contact{
    background-color: #1a2930;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
  
}
.contact-section h2 {
    margin-bottom: 20px;
}
  
.contact-section p {
    color: var(--text-color);
    margin-bottom: 30px;
}
  
.message-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--button-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
.message-button:hover {
    background-color: var(--button-hover-color);
}
  
  
/* FOOTER SECTION */
footer {
    background-color: #1a2930;
    color: white;
    padding: 20px 0;
}
  
.footer-content {
    display: flex;
    align-items: center;
}
  
.contact-info, .social-links {
    text-align: center;
}
  
.icon {
    font-size: 24px;
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
  
.icon i:hover {
    color: orangered;
}
.footer-content p {
    margin: 5px 0;
  }
  
.copyright {
    text-align: center;
    margin-top: 20px;
}

/* RESPONSIVE CSSS */
/* Media Query for screens between 1000px and 1380px */
@media screen and (min-width: 1000px) and (max-width: 1380px) {
    /* NAV SECTION */
    nav ul li {
        padding: 0px 30px;
    }
    nav .nav-logo {
        font-size: 30px;
    }
    /* ABOUT SECTION */
    .about-wrapper {
        width: 80%;
    }
    .context {
        width: 70%;
    }
    .about-wrapper .context .p1{
        font-size: 2.5rem;
    }
    button{
        margin-top: 15px;
    }
    /* FEATURED SECTION */
    .featured-section .games .roblox {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .lists {
        width: 20%;
        margin-bottom: 10px;
    }
}
/* Screen size between 769px and 999px */
@media screen and (min-width: 769px) and (max-width: 999px) {
    /* NAV SECTION */
    nav ul li {
        padding: 0px 30px; 
    }
    nav .nav-logo {
        font-size: 30px; 
    }
    /* ABOUT SECTION */
    .about-wrapper {
        width: 80%;
    } 
    .about-section .context {
        width: 70%; 
    }
    .about-wrapper .context .p1{
        font-size: 2.5rem;
    }
    .about-wrapper .context .p2{
        font-size: 1.5rem;
    }
    .photo {
        display: block;
    }
    .photo img{
        width: 80%;
    }
    .about-section .about-wrapper button{
        font-size: 1rem;
        margin-top: 10px;
    }
    /* Featured Section */
    .featured-section .games .roblox {
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
    }

    .lists {
        height: 22vh;
        width: 22%;
        margin-bottom: 10px;
    }
    .featured-section .games h1 {
        font-size: 3rem;
    }
    .lists img {
        height: 18vh;
        
    }
    .lists h2{
      color: var(--button-color);
      font-size: 1.3rem;
    }
    .featured-section .quote{
        height: 30vh;
    }
    .quote p{
        margin-top: 13vh;
        font-size: 2.3rem;
    }
    .quote h3{
        margin-left: 80%;
        font-size: 1rem;
    }
}
  
  /* Screen size between 550px and 768px */
@media screen and (min-width: 550px) and (max-width: 768px) {
    /* NAV SECTION */
    nav ul li {
        padding: 0px 20px;
    }
    nav .nav-logo {
        font-size: 25px;
    }
    /* ABOUT SECTION */
    .about-wrapper {
        width: 80%;
        height: 43vh;
    }
      
    .context {
        width: 90%;
    }
      
    .photo {
        display: none;
    }
    .context .p1{
        font-size: 2rem;
    }
    .context .p2{
        font-size: 1.3rem;
    }
    .context button{
        margin-top: 10px;
        font-size: 1rem;
    }
    /* FEATURED SECTION */
    .featured-section .games .roblox {
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
    }

    .lists {
        height: 22vh;
        width: 22%;
        margin-bottom: 10px;
    }
    .featured-section .games h1 {
        font-size: 3rem;
    }
    .lists img {
        height: 18vh;
        
    }
    .lists h2{
      color: var(--button-color);
      font-size: 1.2rem;
    }
    .featured-section .quote{
        height: 30vh;
    }
    .quote p{
        margin-top: 13vh;
        font-size: 2rem;
    }
    .quote h3{
        margin-left: 80%;
        font-size: 1rem;
    }
    /* CONTACT SECTION */
    .message-button {
        padding: 10px 16px;
        font-size: 20px;
    }
}
  

  /* Screen size between 481px and 549px */
@media screen and (min-width: 481px) and (max-width: 549px) {
    /* NAV SECTION */
    nav ul li {
            padding: 0px 15px;
    }
    nav .nav-logo {
        font-size: 20px;
    }
    /* ABOUT SECTION */
    .about-wrapper {
        width: 80%;
        height: 43vh;
    }
      
    .context {
        width: 100%;
    }
      
    .photo {
        display: none;
    }
    .context .p1{
        font-size: 2rem;
    }
    .context .p2{
        font-size: 1.2rem;
    }
    .context button{
        margin-top: 15px;
        font-size: .8rem;
    }
    /* FEATURED SECTION */
    .featured-section .games .roblox {
        flex-direction: column;
        flex-wrap: wrap;
        width: 60%;
        height: 50vh;
        column-gap: 25px;
        row-gap: 25px;
    }

    .lists {
        height: 22vh;
        width: 50%;
        margin-bottom: 10px;
    }
    .featured-section .games h1 {
        font-size: 3rem;
    }
    .lists img {
        height: 18vh;
        
    }
    .lists h2{
      color: var(--button-color);
      font-size: 1.2rem;
    }
    .featured-section .quote{
        height: 25vh;
    }
    .quote p{
        text-align: center;
        margin-top: 8vh;
        font-size: 1.8rem;
    }
    .quote h3{
        margin-left: 65%;
        font-size: 1rem;
    }
    /* CONTACT SECTION */
    .contact-section .contact {
        width: 80%;
    }

    .message-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
  

  /* Screen size between 350px and 480px */
@media screen and (min-width: 350px) and (max-width: 480px) {
    /* NAV SECTION */
    nav ul li {
        padding: 0px 8px;
    }
    nav ul li a{
        font-size: 1rem;
    }
    nav .nav-logo {
        font-size: 1.5rem;
    }
    /* ABOUT SECTION */
    .about-wrapper {
        width: 85%;
        height: 40vh;
    }
      
    .context {
        width: 100%;
    }
      
    .photo {
        display: none;
    }
    .context .p1{
        font-size: 1.5rem;
    }
    .context .p2{
        font-size: 1.1rem;
    }
    .context button{
        margin-top: 10px;
        font-size: .9rem;
        padding:10px;
    }
     /* FEATURED SECTION */
     .featured-section .games .roblox {
        flex-direction: column;
        flex-wrap: wrap;
        width: 60%;
        height: 50vh;
        column-gap: 25px;
        row-gap: 25px;
    }

    .lists {
        height: 20vh;
        width: 50%;
        margin-bottom: 10px;
    }
    .featured-section .games h1 {
        font-size: 3rem;
    }
    .lists img {
        height: 17vh;
        
    }
    .lists h2{
      color: var(--button-color);
      font-size: 1.2rem;
    }
    .featured-section .quote{
        height: 25vh;
      }
      .quote p{
        text-align: center;
        margin-top: 8vh;
        font-size: 1.5rem;
      }
      .quote h3{
        margin-left: 65%;
        font-size: 1rem;
      }
    /* CONTACT SECTION */
    .contact-section .contact {
        width: 80%;
    }

    .message-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
