 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
 *{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    color: white;
    box-sizing: border-box;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
/* NAV SECTION */
nav{
    width: 100%;
    height: 10vh;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: outset 1px #8CABFF;
    position: fixed;
    z-index: 2;
}
nav ul,li,a{
    text-decoration: none;
    list-style: none;
    color: #E5E7EB;
    font-size: 25px;
}
nav .nav-logo{
    font-size: 35px;
}
nav ul li{
    display: inline-block;
    padding: 0px 50px;
}
nav ul li a:hover{
    color: orangered;
    border-radius: 10px;
    text-decoration: underline;
    transition: all .3s ease 0s;
}
/* ABOUT SECTION */
.about-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust as needed */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.about-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 50vh;
    width: 70%;
    background-color: #1F293779;
    border-radius: 40px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Black transparent background */
    padding: 20px;

}

.context {
  padding: 20px;
  width: 60%;
}

.context p {
  margin: 10px 0;
}
.context .p1{
    font-size: 2.8rem;
    font-weight: 700;
}
.photo{
    width: 40%;
}
.photo img {
  width: 300px; /* Adjust the size as needed */
  height: auto;
}

button {
    margin-top: 40px;
    padding: 10px 20px;
    background-color: orangered;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.4rem;
}
button:hover{
    cursor: pointer;
    background-color: #00BAFF;
}
/* Featured Section */
.featured-section {
    position: relative;
    width: 100%;
    height: 140vh;
    display: flex;
    flex-direction: column;
  }

.ft-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
  
.ft-background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.featured-section .games{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.featured-section .games h1{
    font-size: 3.6rem;
    text-shadow: 5px 5px rgb(184, 115, 115);
}
.featured-section .games .roblox{
    width: 60%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.lists {
    width: 18%; /* Adjust the size as needed */
    height: 30vh; /* Adjust the size as needed */
    box-shadow: 0 20px 30px black;
    transition: 0.3s;
    background-color: #1F2937;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease-in-out; /* Add transition for hover effect */
  }
  
.lists img {
    border-radius: 20px 20px 0px 0px;
    max-width: 100%;
    height: 25vh;
    transition: transform 0.3s ease-in-out; /* Add transition for hover effect */
}
.lists h2{
  color: orangered;
}
.lists:hover {
    transform: scale(1.1); /* Enlarge on hover */
    box-shadow: 0 0 30px rgb(2, 173, 164);
    cursor: pointer;
}
.featured-section .quote{
  width: 100%;
  height: 40vh;
  background-color: #1F293777;
  display: flex;
  flex-direction: column;
}
.quote h1{
  text-align: center;
  margin-top: 15vh;
  font-size: 3rem;
}
.quote h3{
  margin-left: 80%;
  font-size: 1.8rem;
}
/* CONTACT SECTION */
/* FOOTER SECTION */
